/* q4eavbar section  */
.sign-up {
  width: 135px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #3a3a3a;
  padding: 10px, 20px, 10px, 20px;
  gap: 10px;
  background-color: #ffffff;
}
.sign-up-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font: Poppins;
  color: #3a3a3a;
}
.sign-in {
  width: 135px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid #00541c;
  padding: 10px, 20px, 10px, 20px;
  gap: 10px;
  background-color: #00541c;
}
.sign-in-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font: Poppins;
  color: #ffffff;
}

/* hero section  */

.hero-section-desktop {
  width: 100%;
  height: 658px;
  background-color: #021f0b;
  padding: 89px 0px 113px 0px;
}
.horizontal_tab {
  width: 367px;
  height: 480px;
  position: absolute;
  top: 180px;
  left: 750px;
}
.vertical_tab {
  width: 455px;
  height: 280px;
  position: relative;
  top: 187px;
  left: 55px;
}
.hero_section_head {
  width: 650px;
  color: #ffffff;
}
.hero_section_para {
  margin: 16px 0px 0px 0px;
  width: 600px;
  color: #ffffff;
}
.getStarted {
  width: 235px;
  height: 70px;
  border-radius: 10px;
  padding: 7px, 60px, 7px, 60px;
  gap: 10px;
  background-color: #00541c;
  border: none;
  margin: 40px 40px 0px 0px;
  color: #ffffff;
}
.howItWork {
  width: 235px;
  height: 70px;
  border-radius: 10px;
  padding: 7px, 60px, 7px, 60px;
  gap: 10px;
  background-color: #e1e1e1;
  border: none;
  color: #00541c;
}
.getStarted-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
}
.howItWork-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
}
/* solution section  */
.solutions {
  margin: 148px 0px 148px 0px;
}
.solution-head {
  color: #00541c;
}
.solution-text {
  margin-top: 16px;
  width: 542px;
  height: 58px;
}
.cards {
  margin: 48px 0px 0px 0px !important;
}
.card-img-top {
  width: 48px;
  height: 48px;
}
.card-text {
  width: 289px;
  height: 58px;
  text-align: center;
  margin: 20px auto 20px auto !important;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  padding: 12px;
  gap: 10px;
  color: #3a3a3a;
  margin: 32px auto 20px auto;
}

.card-1 {
  background-color: #00993329;
}
.card-2 {
  background-color: #00666d26;
}
.card-3 {
  background-color: #9be42480;
}
.card-4 {
  background-color: #4a006d26;
}
.card-5 {
  background-color: #8261614d;
}
.card-6 {
  background-color: #e0a62780;
}
.card-btn {
  width: 215px;
  height: 60px;
  border-radius: 10px;
  padding: 13px, 50px, 13px, 50px;
  gap: 10px;
  background-color: #00541c;
  border: none;
  margin: 20px auto 32px auto;
}
.card-btn-text {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
}
.card {
  border: 1px solid #00993363 !important;
}
.card:hover {
  background-color: #e5f5eb;
  border: 1px solid #009933 !important;
}
.custom-ul {
  margin: 68px 0px 0px 0px;
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* Choose Us  */
.choose_us {
  width: 100%;
  height: 1055px;
  background-color: #00421626;
}
.choose-us-head {
  color: #00541c;
  padding-top: 72px;
}
.report-head {
  color: #00541c;
  margin: 148px auto 48px auto;

  width: 968px;
}
.explore_btn {
  width: 437px;
  height: 70px;
  border-radius: 10px;
  padding: 7px, auto, 7px, auto;
  gap: 10px;
  border: none;
  background-color: #00541c;
  color: #ffffff;
  margin: 40px auto 148px auto;
  display: flex;
  justify-content: center;
}
.explore_text {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.24px;
}
.choose_us_card {
  width: 72px;
  height: 72px;
  border-radius: 10px;
  padding: 12px;
  gap: 10px;
  color: #3a3a3a;
  /* margin: 32px auto 20px auto; */
}
.choose_us_card {
  background-color: #00993329;
}
.choose_us_card_1 {
  margin-top: 48px;
  width: 297px;
}
/* Report section  */
.news-letter {
  width: 100%;
  height: 398px;
  background-color: #00541c;
  margin: 48px 0px 48px 0px;
}

.news-letter-head {
  color: #ffffff;
  width: 261px;
}
.news-content {
  padding-top: 40px;
}
.news-text {
  color: #ffffff !important;
  margin-top: 16px;
  width: 475px;
}
.news-input {
  width: 883px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 40px;
  border: none;
}
.news_btn {
  width: 212px;
  height: 70px;
  border-radius: 10px;
  padding: 7px, 50px, 7px, 50px;
  gap: 10px;
  border: none;
  background-color: #ffffff;
  color: #00541c;
  margin: 40px auto 148px auto;
}
.news_text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
/* Report section  */

/* Partner Section  */
.partner {
  width: 100%;
  height: 1155px;
  background-color: #71ffa021;
}
.partner-content-1 {
  padding-top: 100px;
  /* padding-left: 56px !important; */
}
.partner-head-1 {
  width: 620px;
  color: #00541c;
}
.partner-text {
  width: 550px;
}
.parntner-btn {
  background-color: #00541c;
  width: 215px;
  height: 60px;
  border-radius: 10px;
  padding: 13px, 50px, 13px, 50px;
  gap: 10px;
  border: none;
  color: #ffffff;
}
.parntner-btn-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
}
/* Partner Section  */

/* Footer  */

.footer-head {
  font-size: 16px !important;
  font-weight: 700 !important;
  line-height: 24px !important;
}
.footer {
  font-family: sans-serif;
  background-color: #00541c;
}
.Another-list {
  line-height: 28px;
  font-size: 13px;
}
.adress {
  font-size: 15px;
}
/* calender  */

.carousel-indicators li {
  background-color: #282828;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

/* styles.css */
.weather-dashboard {
  text-align: center;
}

.location h2 {
  font-size: 24px;
}

.weather h1 {
  font-size: 36px;
}

.details p {
  font-size: 18px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  flex-wrap: wrap;
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.slide.active {
  display: block;
  opacity: 1;
}

.slider-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.slider-button {
  width: 9px;
  height: 9px;
  background-color: var(--green-200, #8ad0a1);
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.slider-button.active {
  width: 22px;
  height: 9px;
  border-radius: 15px;
  background: var(--green-700, #006d24);
}
.calendar-container {
  width: 100%;
  height: 276px;
  background-color: #ededed;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.calendar-title {
  font-size: 18px;
  color: #006d24;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.calendar-button {
  width: 40px !important;
  height: 40px !important;
  border: 2px solid transparent;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active-date {
  background-color: #006d24 !important;
  color: white !important;
}
.card-body {
  height: 275px !important;
}
